# images
data
content
*.npz
*.zip
tools.py

#python
*__pycache__


#obsidian
*.obsidian
*/.obsidian/*
doc/.obsidian/*

#datatsets
*/datatsets/*
project1e/MNIST/raw
project1cd/datasets/*
project1ab/datasets/*
