# images
data
content
*.npz
*.zip
tools.py

#python
*__pycache__


#obsidian
*.obsidian
*/.obsidian/*
doc/.obsidian/*

#datatsets
*/datatsets/*
project1e/MNIST/raw
project1cd/datasets/*
project1ab/datasets/*
project2d/MNIST/raw/t10k-images-idx3-ubyte
project2d/MNIST/raw/t10k-images-idx3-ubyte.gz
project2d/MNIST/raw/t10k-labels-idx1-ubyte
project2d/MNIST/raw/t10k-labels-idx1-ubyte.gz
project2d/MNIST/raw/train-images-idx3-ubyte
project2d/MNIST/raw/train-images-idx3-ubyte.gz
project2d/MNIST/raw/train-labels-idx1-ubyte
project2d/MNIST/raw/train-labels-idx1-ubyte.gz
project2c/BSR_bsds500.tgz
project2c/MNIST
project2c/mnistm_data.pkl

project2d/results/*
